<p> Thanks for buying! </p>

<a href="https://s3.amazonaws.com/axmc-one-month-stripe-payments/How+to+add+a+photo+or+pdf+to+an+interview.pdf"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button> </a>